.inputs {
}

input {
    display: flex;
    padding: 7px;
    width: 30%;
    margin-top: 15px;
    border-radius: 5px;
}

button {
    display: flex;
    margin-top: 15px;
    padding: 6px;
    background-color: brown;
    color: white;
    border-radius: 5px;

}